
.container-fluid{
	
	margin: 0 auto;
	background-color: white;
	padding: 0;
	

}

.wrapper {
	border:3px solid gray;
	margin: 0 auto;
 margin-left:auto;
    margin-right:auto;
    width:1260px;
}

#top {
	
	color:black;
	
	height:160px;
	background-image: url('bgg.jpg');
	width:100%;
	border-bottom:2px solid black;

	
}
nav span:first-child {
	position: relative;
	top:10%;
	left:78%;
	padding:10px;
	background-color: #AC54AA;

	opacity: 1;

}

nav span:last-child{
	position: absolute;
	top:20%;
	left:90%;
} 

header {


	
	top: 0;
	position: relative; 
	height:10%;
	width:100%;


}

header span {
	font-size: 62px;
	position: relative;
	left:10%;
}

header input {
	position: absolute;
	top:15%;
	right:5%;

} 
#menu ul {
	position: absolute;
}

#menu li {
		display: inline-block;
	position: relative;
	top:70px;
	left:70px;
	padding:30px 80px;
	
	margin:40px;
	

}

#menu li:first-child { 
    left:32px;
    top:75px;

	}
#menu li:nth-child(2) {
 padding:30px 110px;
 left:27px;
    top:75px;
} 	

#menu li:nth-child(3) { 
left:7px;
    top:75px;

}

#menu li:nth-child(4) {
left:-7px;

} 


#menu li:hover {
		
cursor:pointer;






	}


#menu {

	background-image: url('menu1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
border: 2px solid black;
top:0;
height:300px;

background-color: #96F9E8;
border-radius: 15px;
margin: 0 20px 0 20px;


} 

.dropdown-item:hover {
	background-color: #D5E8D4;
}

#slider {
	padding:15px 0;
	position: relative;
	top:10px;
	
	width:94%;
	left:50px;
	top:60px;
	text-align: center;
background-color:#ECECEC;

	
}

#slider div {
	position: relative;
	display: inline-block;
	padding:40px ;
	border:1px solid gray;
	margin:5px;
	top:0;
	left:70px;

	
}


	

.hidden {
	visibility: hidden;
} 


h3{
	position: relative;
	text-align: center; 
	top:200px;
	left:100px;
}
img[alt="robot"]{
	position: relative;
	left:0;
}

#title1{
	position: relative;
	left:150px;
}


#last {
	position: relative;
	top:120px;
	
	height:500px;

	background-color: #1A2229;
	background-repeat: no-repeat;

		color: white;
}
#map{
	position: relative;
	left:0;
	padding: 10px;
	color:blue;
}
footer {
	position: relative;
	
	background-image: url('bgg.jpg');
	width:100%;
	height:100px;
	bottom:-20px;
}
footer span {
	background-color: #AC54AA;
	padding:10px 30px; 
	top:40px; 
	position: relative;
	text-align: center;
	left:40%;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

img[alt="gear"] {
	position: absolute;
	top:90px;
	left:980px;
}


body {
	background-image: url('bgg.jpg');
	
	font-family: 'Indie Flower', cursive;
}

#products {
	position: relative;
	top:20px;
	text-align: center;
	color:#143D55;
} 

.address {
	position: relative;
	padding:20px;
	top:60px;
	left:80px;
	text-align: center;
font-family: 'Indie Flower', cursive;
}